* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


div {
    display: inline-block;
    margin-left: 85px;
    margin-top: auto;
   


}


img {
    display: inline-block;
    width: 595.18px;
    height: 500px;
    margin-left: 121px;
   




}


main{
    display: flex;
   
}














p {
    width: 493px;
    color: #4B505A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    /* 183.333% */
    letter-spacing: 0.5px;
    margin-top: 47px;
    margin-bottom: 55px;
}


h1 {
    width: 582px;
    color: #161A49;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596px;
}


.linkheader {
    color: #17233D;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.875px;
    margin-right: 32px;
    cursor: pointer;




}


header {
    margin-top: 47px;
    margin-left: 42px;
    margin-bottom: 177px;
}




.buttonheader {


    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    width: 124px;
    height: 51px;
    cursor: pointer;




}


.buttondiv {
    color: #6FBF44;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    background: transparent;
    border: none;
    cursor: pointer;
}


@media screen and (max-width:800px) {
   
    main {
        display: flex;
        flex-direction: column-reverse;
        }


        div{
            margin: 0 auto;
            text-align: center;
        }


    img {
        display: block;
        width: 312px;
        height: 288px;
        margin: 0 auto;
        margin-top: 74px;
    }


    header{
        margin: 0 ;
    }




        h1 {
            color: #161A49;
            text-align: center;
            font-family: Poppins;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            /* 100% */
            letter-spacing: 0.596px;
            width: 278px;
            margin-top: 76px;
        }


        p {
            color: #4B505A;
            text-align: center;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 33px;
            /* 183.333% */
            letter-spacing: 0.5px;
            width: 304px;
        }


        .buttonheader{
            width: 91px;
            height: 31px;
            font-size: 12px;
            margin: 17px 15px 0 284px;
            font-weight: 400px;
        }


        .buttondiv {
            color: #6FBF44;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 1px;
            margin: 0 auto;
            display: block;
        }


        .linkheader {
            display: none;
        }




    }


